.wrap-profile > .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #000000;
}
.wrap-profile > .content {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #333333;
  margin-top: 12px;
}

.wrap-podcast {
  margin-top: 32px;
}
.wrap-podcast > .title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: -0.3px;
  /* Gray 1 */
  color: #333333;
}
.wrap-podcast > .list-podcast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.wrap-podcast > .list-podcast::-webkit-scrollbar {
  display: none;
}
.wrap-podcast > .list-podcast > .podcast {
  width: 124px;
  margin-right: 20px;
}
.wrap-podcast > .list-podcast > .podcast :last-child {
  margin-right: 0;
}
.wrap-podcast > .list-podcast > .podcast > img {
  width: 124px;
  height: 124px;
}
.wrap-podcast > .list-podcast > .podcast > .name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: #333333;
  margin-top: 8px;
}
.wrap-podcast > .list-podcast > .podcast .wrap-content > .content > .name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  letter-spacing: -0.3px;
  color: #ffffff;
}
.wrap-podcast > .list-podcast > .podcast .wrap-content > .content > .position {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: #ffffff;
}
.wrap-podcast > .list-podcast > .podcast > .description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.3px;
  /* Gray 1 */
  color: #333333;
  margin-top: 4;
  display: flex;
  align-items: center;
}
.wrap-podcast > .list-podcast > .podcast > .description > .decorate {
  margin-right: 6px;
  margin-left: 6px;
  width: 4px;
  height: 4px;
  background: #333333;
  border-radius: 4px;
}

.wrap-title {
  background: linear-gradient(180deg, #7da3a6 0%, #bed1d5 100%);
}

.wrap-content > .content {
  margin-top: 200px !important;
}
@media screen and (max-width: 516px) {
  .wrap-content > .content {
    margin-top: 215px !important;
  }
}
.wrap-content > .content > .name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  letter-spacing: -0.3px;
  color: #ffffff;
}
@media screen and (max-width: 516px) {
  .wrap-content > .content > .name {
    font-size: 22px;
  }
}
.wrap-content > .content > .position {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: #ffffff;
}
@media screen and (max-width: 516px) {
  .wrap-content > .content > .position {
    font-size: 13px;
  }
}/*# sourceMappingURL=profile.css.map */