.wrap-profile {
  > .title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.3px;

    color: #000000;
  }
  > .content {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    letter-spacing: -0.3px;

    color: #333333;

    margin-top: 12px;
    > p {
      margin-bottom: 8px;
    }
  }
}

// .wrap-podcast {
//   margin-top: 32px;
//   > .title {
//     font-family: "Inter";
//     font-style: normal;
//     font-weight: 600;
//     font-size: 18px;
//     line-height: 22px;
//     /* identical to box height */

//     letter-spacing: -0.3px;

//     /* Gray 1 */

//     color: #333333;
//   }
//   > .list-podcast {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     margin-top: 19px;

//     overflow: scroll;
//     -ms-overflow-style: none;
//     scrollbar-width: none;
//     &::-webkit-scrollbar {
//       display: none;
//     }
//     > .podcast {
//       width: 124px;
//       margin-right: 20px;
//       :last-child {
//         margin-right: 0;
//       }

//       > img {
//         width: 124px;
//         height: 124px;
//       }
//       > .name {
//         font-family: "Inter";
//         font-style: normal;
//         font-weight: 600;
//         font-size: 15px;
//         line-height: 18px;
//         letter-spacing: -0.3px;

//         color: #333333;

//         margin-top: 8px;
//       }
//       .wrap-content {
//         > .content {
//           > .name {
//             font-family: "Inter";
//             font-style: normal;
//             font-weight: 600;
//             font-size: 32px;
//             line-height: 39px;
//             /* identical to box height */

//             letter-spacing: -0.3px;

//             color: #ffffff;
//           }
//           > .position {
//             font-family: "Inter";
//             font-style: normal;
//             font-weight: 400;
//             font-size: 15px;
//             line-height: 18px;
//             letter-spacing: -0.3px;

//             color: #ffffff;
//           }
//         }
//       }

//       > .description {
//         font-family: "Inter";
//         font-style: normal;
//         font-weight: 400;
//         font-size: 13px;
//         line-height: 16px;

//         letter-spacing: -0.3px;

//         /* Gray 1 */

//         color: #333333;
//         margin-top: 4;
//         display: flex;
//         align-items: center;

//         > .decorate {
//           margin-right: 6px;
//           margin-left: 6px;
//           width: 4px;
//           height: 4px;
//           background: #333333;
//           border-radius: 4px;
//         }
//       }
//     }
//   }
// }

.wrap-title {
  background: linear-gradient(180deg, #7da3a6 0%, #bed1d5 100%);
}

.wrap-content {
  > .content {
    @media screen and (max-width: 516px) {
      margin-top: 215px !important;
    }
    margin-top: 200px !important;
    > .name {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      /* identical to box height */

      letter-spacing: -0.3px;

      color: #ffffff;
      @media screen and (max-width: 516px) {
        font-size: 22px;
      }
    }
    > .position {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.3px;

      color: #ffffff;
      @media screen and (max-width: 516px) {
        font-size: 13px;
      }
    }
  }
}

.wrap-podcast {
  margin-top: 36px;
  > h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: #000000;
  }

  > .list-podcast {
    margin-top: 16px;
  }
  > .list-podcast > .podcast {
    position: relative;

    > .head {
      display: flex;
      align-items: center;

      margin-right: 65px;
      > .image {
        height: 56px;
        width: 56px;
      }

      > div {
        margin-left: 12px;
      }

      > div > .name {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.3px;
        color: #000000;
      }

      > div > .time {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.3px;
        color: #000000;

        margin-top: 4px;
      }
    }
    > .text {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -0.3px;
      color: #000000;

      margin-top: 12px;
      margin-bottom: 20px;
      padding-right: 65px;
      padding-bottom: 12px;
      border-bottom: 1px #e9e9e9 solid;
    }
    > .icon {
      position: absolute;
      right: 40px;
      top: 20px;
      height: 14px;
      width: 7.61px;
    }
  }
}
