p {
  margin-bottom: 0;
}

.container {
  margin-left: 0;
  margin-right: 0;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  text-decoration: none;
}

.body {
  margin-top: 72px;
  min-height: 100vh;
}
.body > .container {
  max-width: 740px;
  margin: auto;
}

.header {
  width: 100%;
}

.header > .container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrap-title {
  background: linear-gradient(180deg, #e5d9cb 0%, #af9570 72.4%);
  height: 300px;
}
.wrap-title > .container {
  position: relative;
}
.wrap-title > .container .share {
  position: absolute;
  top: 228px;
  right: 0;
}
@media screen and (max-width: 768px) {
  .wrap-title > .container .share > img {
    height: 20px;
  }
}
.wrap-title > .container > div > .avatar {
  height: 224px;
  width: 224px;
  margin-top: 112px;
}
@media screen and (max-width: 768px) {
  .wrap-title > .container > div > .avatar {
    height: 120px;
    width: 120px;
    margin-top: 216px;
  }
}
.wrap-title > .container > .wrap-content {
  display: flex;
}
.wrap-title > .container > .wrap-content > .content {
  margin-left: 24px;
  margin-top: 158px;
}
@media screen and (max-width: 768px) {
  .wrap-title > .container > .wrap-content > .content {
    margin-left: 12px;
  }
}
.wrap-title > .container > .wrap-content > .content > h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.3px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .wrap-title > .container > .wrap-content > .content > h4 {
    font-size: 20px;
  }
}
.wrap-title > .container > .wrap-content > .content > div {
  display: flex;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .wrap-title > .container > .wrap-content > .content > div {
    margin-top: 12px;
  }
}
.wrap-title > .container > .wrap-content > .content > div > .sub-avatar {
  width: 52px;
  height: 52px;
}
@media screen and (max-width: 768px) {
  .wrap-title > .container > .wrap-content > .content > div > .sub-avatar {
    width: 36px;
    height: 36px;
  }
}
.wrap-title > .container > .wrap-content > .content > div .profile {
  margin-left: 12px;
}
.wrap-title > .container > .wrap-content > .content > div .profile > .name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .wrap-title > .container > .wrap-content > .content > div .profile > .name {
    font-size: 13px;
  }
}
.wrap-title > .container > .wrap-content > .content > div .profile > .position {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.3px;
  color: #ffffff;
  margin-top: 4px;
}
@media screen and (max-width: 768px) {
  .wrap-title > .container > .wrap-content > .content > div .profile > .position {
    margin-top: 2px;
    font-size: 13px;
  }
}

.wrap-banner {
  margin-top: 24px;
}
.wrap-banner > .banner {
  width: 100%;
  height: 124px;
}
@media screen and (max-width: 516px) {
  .wrap-banner > .banner {
    display: none;
  }
}
.wrap-banner > .banner.-mobile {
  display: none;
}
@media screen and (max-width: 516px) {
  .wrap-banner > .banner.-mobile {
    display: block;
    height: 100%;
    width: unset;
    margin: 0 auto;
  }
}

.wrap-footer {
  width: 100%;
  box-shadow: 0px -1px 1px rgba(172, 172, 172, 0.25);
}
.wrap-footer > .container > .footer {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-footer > .container > .footer > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #98999c;
}/*# sourceMappingURL=style.css.map */